{% extends 'base.html.twig' %}

{% block title %}Chapitre{% endblock %}

{% block body %}
    <h1>Chapitre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapitre.id }}</td>
            </tr>
            <tr>
                <th>TitreChap</th>
                <td>{{ chapitre.titreChap }}</td>
            </tr>
            <tr>
                <th>ContenuChap</th>
                <td>{{ chapitre.contenuChap }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chapitre_index') }}">back to list</a>

    <a href="{{ path('app_chapitre_edit', {'id': chapitre.id}) }}">edit</a>

    {{ include('chapitre/_delete_form.html.twig') }}
{% endblock %}
