{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitreAnn</th>
                <th>DescriptionAnn</th>
                <th>DatePublication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titreAnn }}</td>
                <td>{{ annonce.descriptionAnn }}</td>
                <td>{{ annonce.datePublication ? annonce.datePublication|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Create new</a>
{% endblock %}
