{% extends 'base.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
        
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Participation index</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Here you can view and manage all participations in the system.</p>
      </div>
    </div>
  </div>
</section>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Participation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.id }}</td>
                <td>{{ participation.dateParticipation ? participation.dateParticipation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'id': participation.id}) }}">show</a>
                    <a href="{{ path('app_participation_edit', {'id': participation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participation_new') }}">Create new</a>
{% endblock %}