<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}My Website{% endblock %}</title>

        <!-- Plugins Stylesheets -->
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/themify-icons/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/animate/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/aos/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/venobox/venobox.css') }}">

        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Header -->
        <header class="fixed-top header">
            <!-- Top Header -->
            <div class="top-header py-2 bg-white">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-4 text-center text-lg-left">
                            <a class="text-color mr-3" href="callto:+21671111222"><strong>CALL</strong> +216 71 111 222</a>
                            <ul class="list-inline d-inline">
                                <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                                <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                                <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-8 text-center text-lg-right">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0" href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                                <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{{ path('page_notice') }}">Notice</a></li>
                                <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{{ path('page_research') }}">Research</a></li>
                                <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{{ path('page_scholarship') }}">Scholarship</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navbar -->
            <div class="navigation w-100">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo"></a>
                        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav ml-auto text-center">
                                <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Home</a></li>
                                <li class="nav-item"><a href="{{ path('page_about') }}" class="nav-link">About</a></li>
                                <li class="nav-item"><a href="{{ path('front_cours_index') }}" class="nav-link">Courses</a></li>
                                <li class="nav-item"><a href="{{ path('front_chapitre_index') }}" class="nav-link">Chapters</a></li>
                                <li class="nav-item"><a href="{{ path('page_contact') }}" class="nav-link">Contact</a></li>
                                <li class="nav-item"><a href="{{ path('app_register_choice') }}" class="nav-link">Register</a></li>
                                <li class="nav-item"><a href="{{ path('app_profile') }}" class="nav-link">My Account</a></li>
                                <li class="nav-item"><a href="{{ path('admin_dashboard') }}" class="nav-link">Dashboard</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="py-4" style="background-color: #1e1e4b; color: #fff;">
            <div class="container text-center">
                <div class="mb-3">
                    <img src="{{ asset('uploads/images/edu.png') }}" alt="Educenter" class="img-fluid" style="max-height: 50px; border: none;">
                </div>
                <div class="mb-3">
                    <nav>
                        <a href="#" class="text-light text-decoration-none mx-3" style="color: #f8c146; font-weight: bold;">Home</a>
                        <a href="#" class="text-light text-decoration-none mx-3" style="color: #f8c146; font-weight: bold;">About</a>
                        <a href="#" class="text-light text-decoration-none mx-3" style="color: #f8c146; font-weight: bold;">Courses</a>
                        <a href="#" class="text-light text-decoration-none mx-3" style="color: #f8c146; font-weight: bold;">Contact</a>
                    </nav>
                </div>
                <div>
                    <p class="mb-1" style="font-size: 1rem; color: #d9d9d9;">Contact us:</p>
                    <p class="font-weight-bold" style="color: #f8c146; font-size: 1.2rem;">+216 99 123 456</p>
                </div>
                <div class="mt-3">
                    <small style="color: #d9d9d9;">&copy; {{ "now"|date("Y") }} Educenter. All rights reserved.</small>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{{ asset('plugins/jQuery/jquery.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('plugins/slick/slick.min.js') }}"></script>
        <script src="{{ asset('plugins/aos/aos.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
