{% extends 'base.html.twig' %}

{%block body%}
<div class="main-content">
  <!-- Contact Us Start -->
  <section class="iq-contactus gray-bg">
     <div class="container">
        <div class="row">
           <div class="col-lg-6">
              <img src="{{asset('front/images/project/02.png')}}" alt="login"></div>
           <div class="col-lg-6">
              <div class="title-box  text-left">
                 <span class="text-warning">Mot de passe oublié?</span>
                 <h6 class="title">Entrez votre email et nous vous enverrons un lien de réinitialisation.</h6>
              </div>
              {{ form_start(form,{'attr':{'class':'contact-us','novalidate':'novalidate'}}) }}
                 <div class="row">
                    <div class="col-xl-12">
                       <label>Adresse E-mail<br>
                       <span class="form-control-wrap your-subject">
                        {{form_widget(form.email,{'attr':{'class':'form-control text','placeholder':'Votre E-mail'}})}}
                     </span>
                       </label>
                    </div>
                    <div class="col-xl-12">
                       <button class="button btn-yellow" >{{button_label|default('Envoyer lien')}}</button>
                    </div>
                 </div>
             {{form_end(form)}}
           </div>
        </div>
     </div>
  </section>
{%endblock%}