{% extends 'base.html.twig' %}

{% block title %}Modifier le cours : {{ cours.titreCours }}{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container mt-5">
        <h1>Modifier le cours : {{ cours.titreCours }}</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.titreCours) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.descriptionCours) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.dateDebut) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.dateFin) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.image) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.typeContenu) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.contenu) }}
                </div>
                <!-- Ajout du champ pour le prix -->
                <div class="col-md-6">
                    {{ form_row(form.prix) }}
                </div>
            </div>

            <div class="text-center mt-3">
                <button class="btn btn-primary">Enregistrer les modifications</button>
            </div>
        {{ form_end(form) }}

        <div class="text-center mt-3">
            <a href="{{ path('app_cours_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
