{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}

    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>TitreCours</th>
                <td>{{ cour.titreCours }}</td>
            </tr>
            <tr>
                <th>DescriptionCours</th>
                <td>{{ cour.descriptionCours }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ cour.dateDebut ? cour.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ cour.dateFin ? cour.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">back to list</a>

    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}


    
{% endblock %}
