{% extends 'back/GestionUtilisateur/login.html.twig'%}
{% block contenu%}
<div class="card-body p-4 p-sm-5">
  <h5 class="text-center">Réinitialiser le mot de passe</h5>
    {{ form_start(form,{'attr':{'class':'mt-3'}}) }}
    <div class="card-body p-4 p-sm-5">
      <h5 class="text-center">Réinitialiser le mot de passe</h5>
        {{ form_start(form,{'attr':{'class':'mt-3'}}) }}
        <div class="mb-3">
        {{form_row(form.newPassword,{'attr':{'class':'form-control'}})}}
        </div>
        <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">{{button_label|default('Changer')}}</button>
        {{ form_end(form) }}
    </div>
    {{ form_end(form) }}
</div>
{%endblock%}
